.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg,rgb(116, 196, 159),rgba(67, 151, 109, 0.926));
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(61, 66, 64);
  border-radius: 17px;
  border-style:ridge solid black;
}

form input{
  border:none;
  outline: 20px;
  width: 50px;
  height: 45px;
  font-size: 20px;
  margin: 3.5px;
  border-radius: 15px;
  font-style:initial;
  color: black;
  font-weight: bolder;
 cursor: pointer;
 border-style:groove;


}



form input[type="button"]:hover{
  background-color: silver;
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 3pxx 8px;
  background-color: rgb(189, 208, 208);
}

